<!--左側選單列-->

<div class="list-group">
	<a href="admin_dashboard.php" class="list-group-item active">首頁</a>
	<a href="admin_dashboard.php?mode=inoutlist&name=Aaron" class="list-group-item">打卡記錄列表</a>
	<a href="admin_dashboard.php?mode=userlist" class="list-group-item">使用者列表</a>
</div>
