<div class="list-group">
    <a href="javascrit:;" class="list-group-item active">查詢結果</a>
    <a href="inoutlist.php?mode=inoutlist" class="list-group-item">打卡記錄列表</a>
    <a href="createuser.php?mode=createuser" class="list-group-item">創建使用者</a>
</div>