{% extends "dashboard.inc.twig" %}
{% block menu %}
	<div class="list-group">
        <a href="admin_dashboard.php" class="list-group-item">首頁</a>
        <a href="admin_dashboard.php?mode=inoutlist&name=Aaron" class="list-group-item">打卡記錄列表</a>
        <a href="admin_dashboard.php?mode=createuser" class="list-group-item active">創建使用者</a>
    </div>
{% endblock %}
{% block content %}

{% endblock %}